In [1]:
import pandas as pd
import requests
import pymysql
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

os.chdir(os.path.dirname(os.getcwd()))

from functions.pubgapi import get_tournament_info
from functions.pubgapi import get_match_info
from functions.pubgapi import get_match_participant
from functions.pubgapi import get_match_participant_single

os.chdir("./Example")

# Load api key & RDS info (endpoint="rds 엔드포인트", dbname="db 이름", username="마스터 사용자 이름", password="rds 비밀번호")
load_dotenv()
api_key = os.environ.get("API_KEY")
endpoint = os.environ.get("AWS_endpoint")
dbname = os.environ.get('AWS_dbname')
username = os.environ.get("AWS_username")
password = os.environ.get("AWS_password")

In [2]:
# tournament_info 불러오기
tournament_info = get_tournament_info(api_key)
tournament_info

             id             createdAt
0      eu-tgs22  2022-04-27T17:39:01Z
1      eu-trt22  2022-04-22T15:48:35Z
2    eu-goats22  2022-04-19T17:40:55Z
3      as-apls1  2022-04-17T10:16:50Z
4      eu-esapa  2022-04-16T16:38:55Z
..          ...                   ...
462  kr-pss18s2  2018-06-17T03:40:44Z
463  ct-mpl18s1  2018-06-15T09:29:17Z
464  kr-apl18s2  2018-06-15T07:21:54Z
465  jp-pjs18s1  2018-06-14T14:22:21Z
466  kr-pwm18s1  2018-06-13T15:38:29Z

[467 rows x 2 columns]

In [3]:
# index 설정 및 해당 인덱스의 tournament_id 값 불러오기
tournament_index = 10
tournament_id = tournament_info["id"][tournament_index]
tournament_id

'as-pp1gf'

In [4]:
# cur_match_info(Current match info) 불러오기
cur_match_info = get_match_info(api_key, tournament_id)
cur_match_info

               createdAt                               matchId
0   2022-04-07T09:53:08Z  d6dd879a-45c9-4412-aa97-3b240b7bdd07
1   2022-04-07T10:39:22Z  a5af5c3b-f389-4e8b-9ae3-bb3e960f55bf
2   2022-04-07T11:24:04Z  c584f09d-1c2c-4c19-9e89-77335801d9e4
3   2022-04-07T12:19:19Z  f6ad1de4-7734-4d02-8b62-25593bb6a19c
4   2022-04-07T13:01:39Z  3be7ab99-296c-4f52-b031-0b35159d12b2
5   2022-04-08T09:45:19Z  7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac
6   2022-04-08T10:29:15Z  1ab02ce2-1e59-434a-8315-52a897b4a388
7   2022-04-08T11:09:43Z  d35745aa-2d4d-4786-8721-cbb2ae4197c7
8   2022-04-08T11:58:06Z  88e56249-7597-4507-9429-7a5ab84cf6e2
9   2022-04-08T12:45:19Z  dbfd4f45-adab-4d29-937f-4ea921cc602c
10  2022-04-09T09:49:44Z  54a4456f-5402-4be2-8e0e-3500f3d6587b
11  2022-04-09T10:34:29Z  7e7ecfa2-46b9-4e5c-b3ef-87d195efb4ec
12  2022-04-09T11:20:25Z  0a5c82f2-ca15-4085-9dc9-ee60ebcd4d9b
13  2022-04-09T12:06:56Z  074a9705-d83d-4afd-a618-d81e67c21472
14  2022-04-09T12:52:06Z  39796ba2-b967-45c6-9b55-7d78bcb45f22
15  2022-04-10T09:47:43Z  7b9e793a-0e5f-4c26-89bf-6ab4963fbdff
16  2022-04-10T10:34:07Z  c09de475-30d0-42a6-bdad-302eff2c8ed6
17  2022-04-10T11:23:28Z  dd9aeb67-f6d2-4272-8fc8-1e7c97262a22
18  2022-04-10T12:10:00Z  e1bc92db-07db-4a01-9c15-5b3aec89f14e
19  2022-04-10T12:54:56Z  f630c213-1af6-41c6-bc91-99806f0fe8fc

In [5]:
# match_participant 불러오기
match_participant = get_match_participant(api_key, cur_match_info["matchId"])
match_participant

,player_id,team_rank,dbnos,assists,boosts,damage_dealt,headshot_kills,heals,kill_streaks,kills,longest_kill,revives,team_kills,time_survived
0,emT_Sparrow,15,1,0,2,154.28500,0,5,1,1,16.334719,1,0,1034
1,emT_JeffLocka,15,1,0,2,117.00255,0,3,1,1,14.608637,0,0,1034
2,emT_DAEVA,15,2,0,1,178.85000,1,1,1,2,48.988106,0,0,1034
3,emT_Stella,15,0,0,2,0.00000,0,0,0,0,0.000000,1,0,1030
4,DK_Makne,10,1,2,1,141.72096,0,1,1,1,25.774336,0,0,1269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,GBL_Heaven,14,1,0,2,78.00000,1,1,1,1,54.208694,0,0,1082
1276,MG_SeungYong,13,1,1,4,239.78043,0,3,1,1,137.503950,1,0,1155
1277,MG_yacha,13,1,0,0,100.00000,0,0,0,0,0.000000,0,0,836
1278,MG_Dlaks,13,0,0,1,0.00000,0,0,0,0,0.000000,0,0,407
1279,MG_Gak,13,0,0,6,140.35733,0,3,0,0,0.000000,0,0,1155

In [6]:
# match_participant_single 불러오기
match_index = 5
match_participant_single = get_match_participant_single(api_key, cur_match_info["matchId"][match_index])
match_participant_single

,match_id,player_id,team_rank,dbnos,assists,boosts,damage_dealt,heals,kill_streaks,kills,longest_kill,revives,team_kills,time_survived,win
0,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,emT_Sparrow,9,2,1,3,309.999700,2,1,1,47.889090,1,0,1277,0
1,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,emT_DAEVA,9,1,0,2,158.844350,1,1,1,17.634441,0,0,1276,0
2,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,emT_Stella,9,1,0,3,224.600000,0,2,2,83.975555,1,0,1259,0
3,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,emT_JeffLocka,9,0,1,0,59.220000,0,0,0,0.000000,0,0,385,0
4,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,USG_Kein,10,0,0,1,101.575930,0,1,1,10.905827,0,0,1271,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,MG_Gak,13,2,0,3,457.394740,5,2,2,43.567074,0,0,1191,0
60,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,GBL_Lambu,4,1,0,6,283.688350,3,1,1,64.863030,0,0,1686,0
61,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,GBL_Adder,4,2,2,7,392.150000,3,1,3,96.551790,0,0,1785,0
62,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,GBL_Heaven,4,0,0,3,62.771072,1,0,0,0.000000,0,0,1164,0
63,7a1a4e65-8ea5-4405-a7a5-a4e1c763d3ac,GBL_Gyumin,4,2,0,3,409.456420,5,1,2,65.468340,2,0,1687,0